<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">    
</head>
<body>
    <h1>Hello World !! {{ formation }} info toto</h1>
    <p>comment allez vous les amis !!!</p>
    <h2>partager des fichiers static</h2>
    <p>Attention pas de s !!! je suis content</p>
    <p>Attention pas de s !!! je suis content</p>
    <p>Attention pas de s !!! je suis content</p>
</body>
</html>